.backdrop {
  overflow-y: scroll;
  z-index: 110;
}

.backdrop.is-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  max-height: 95%;
  padding: 26px;
  margin-left: auto;
  margin-right: auto;
  background: $color-white;
  border: 2px solid $color-yellow;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px;
  }
}

.product-modal__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  /* identical to box height, or 150% */
  text-align: center;
  color: $color-black;
  @media screen and (max-width: 767px) {
    margin-bottom: 83px;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.product-modal__gallary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @media screen and (max-width: 767px) {
    gap: 83px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 32px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    margin-top: 103px;
  }
}
.product-modal__card {
  position: relative;
  display: inline-block;

  width: 132px;
  height: 136px;
  border-radius: 15px;

  transition: box-shadow $time-duration $timing-function;
}
.cream {
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.coffee {
  //background: $color-yellow-light;
  border: 2px solid $color-yellow-light;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.milkshake {
  border: 2px solid $color-orange;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
}
.product-modal__bg {
  position: absolute;
  left: 0px;
  top: -61px;
  width: 132px;
  height: 132px;
  border-radius: 98px;
}

.product-modal__photo {
  position: absolute;
  left: 0px;
  top: -7px;
  border-radius: 50%;
  overflow: hidden;
}

.product-modal__name {
  padding-top: 95px;
  padding-bottom: 20px;

  // margin-left: auto;
  // margin-right: auto;
  display: block;
  border-radius: 15px;
  transition: background-color $time-duration $timing-function;

  .product-modal__card.cream .product-modal_input:checked + & {
    background-color: #96af8c66;
  }
  .product-modal__card.coffee .product-modal_input:checked + & {
    background-color: $color-yellow;
  }
  .product-modal__card.milkshake .product-modal_input:checked + & {
    background-color: $color-orange;
  }
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-black;
}

.ice-cream {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.ice-coffee {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.milk {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.product-modal__card:not(:last-child) {
  margin-bottom: 21x;
}

.product-modal__card:last-child {
  margin-bottom: 31px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.product-modal__card:first-child {
  // margin-top: 83px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.product-modal__name {
  text-align: center;
}

.product-form__block {
  text-align: center;
}

.product-form__text {
  resize: none;
  width: 224px;
  height: 65px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $color-green;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  color: $color-black;
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.product-form__input {
  width: 224px;
  height: 32px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  color: $color-black;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $color-salad;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.product-form__input {
  &:hover,
  &:focus {
    border-color: $color-green;
  }
}
.product-form__input:not(:placeholder-shown):required:invalid {
  background-color: coral;
}

// .product-form__submit {
//   width: 114px;
//   height: 42px;
//   font-family: "Montserrat";
//   font-style: normal;
//   font-weight: 600;
//   font-size: 12px;
//   line-height: calc(15 / 12);
//   text-align: center;

//   color: $color-black;
//   background: $color-yellow;
//   border-radius: 10px;
//   border: 0;
//   @media screen and (min-width: 768px) {
//     width: 121px;
//     font-size: 14px;
//     line-height: calc(17 / 14);
//   }
// }

.product-modal__close {
  position: absolute;
  top: 1%;
  right: 2%;
  // cursor: pointer;

  padding: 0;
  border: none;
  background-color: inherit;

  &:hover > svg,
  &:focus > svg {
    fill: $color-green-for-btn;
  }
}
