$color-yellow: #f8d24e;

$color-yellow-light: #efd478;
$color-white: #fcfcfc;
$color-black: #131313;
$color-deep-black: #000000;
$color-green: #84a178;
$color-green-for-btn: #0a8817;
$color-disabled-btn: #ababab;

$color-salad: #aec6a5;
$color-orange: #d6936d;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-duration: 250ms;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
