<section class="section advantages">
  <div class="container">
    <h2 class="visially-hidden">statistics</h2>
    <ul class="statistic">
      <li class="statistic__section">
        <p class="statistic__section--amount">721</p>
        <p class="statistic__section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic__section">
        <p class="statistic__section--amount">16kg</p>
        <p class="statistic__section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic__section">
        <p class="statistic__section--amount">84</p>
        <p class="statistic__section--explanation">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
