
  <div class="franchise-modal modal" data-modal="7">
    <button  class="modal__close-button" type="button">
      <svg class="modal__icon-close js-modal-close" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="franchise-form" name="franchise-form" autocomplete="off">
      <p class="franchise-form__title">Thank you for your <br> interest in owning an <br> Ice Cream shop</p>
      <p class="franchise-form__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once the application process resumes, we will contact you for further information.
        Please fill out the contact information below and we will reach out for additional information. We appreciate
        your patience.</p>
      
        <label class="franchise-form__field">
          <input class="franchise-form__input" type="text" name="user-name" placeholder="Name" required minlength="3"/>
        </label>
        <label class="franchise-form__field">
          <input class="franchise-form__input" type="text" name="user-phone" placeholder="Phone" required pattern="[0-9]{2}-[0-9]{3}-[0-9]{7}"
            minlength="14"
            maxlength="14"
            title="Введіть номер телефону у форматі хх-ххх-ххххххх"/>
        </label>
        <label class="franchise-form__field">
          <input class="franchise-form__input" type="email" name="user-mail" placeholder="Email" required />
        </label>
        <label class="franchise-form__field">
          <textarea class="franchise-form__textarea" name="user-comment" placeholder="Comment" ></textarea>
        </label>
      <button class="button franchise-form__button" type="submit">Submit</button>
    </form>
  </div>
  <div class="overlay js-overlay-modal"></div>