<section class="section section-gallery">
  <h2 class="visially-hidden">Галерея видів морозива</h2>
  <div class="container container-gallery">
    <div class="gallery">
      <img srcset="
          ./images/gallery/1ice-cream-1x.jpg 1x,
          ./images/gallery/1ice-cream-2x.jpg 2x
        " src="./images/gallery/1ice-cream-1x.jpg" width="280" height="130" alt="види морозива"
        class="gallery__item" />
      <img srcset="
          ./images/gallery/2ice-cream-1x.jpg 1x,
          ./images/gallery/2ice-cream-2x.jpg 2x
        " src="./images/gallery/2ice-cream-1x.jpg" width="280" height="130" alt="види морозива"
        class="gallery__item" />

      <img srcset="
          ./images/gallery/3ice-cream-1x.jpg 1x,
          ./images/gallery/3ice-cream-2x.jpg 2x
        " src="./images/gallery/3ice-cream-1x.jpg" width="280" height="130" alt="види морозива"
        class="gallery__item" />
    </div>
  </div>
</section>