
<section  id="products" class="section products-main backgroung-ice-cream">
  <div class="container products">
    <p class="products-description">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-item">
      <li class="products-list">
        <div class="products-list_before-icecream"></div>
        <h3>ice cream</h3>
        <p class="products-list_description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          aria-label="Open ingridient"
          class="products-list_button"
          data-open-ingri-1
        >
          <svg class="products-list_icon-arrow" width="40" height="16">
            <use href="/src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list">
        <div class="products-list_before-latte"></div>
        <h3>ice coffee</h3>
        <p class="products-list_description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          aria-label="Open ingridient"
          class="products-list_button"
          data-open-ingri-2
        >
          <svg class="products-list_icon-arrow" width="40" height="16">
            <use href="/src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list">
        <div class="products-list_before-milk"></div>
        <h3>milkshakes</h3>
        <p class="products-list_description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          aria-label="Open ingridient"
          class="products-list_button"
          data-open-ingri-3
        >
          <svg class="products-list_icon-arrow" width="40" height="16">
            <use href="/src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
