<div class="backdrop is-hidden" data-buy-in data-buy-out>
  <form class="product-modal" name="product-order" autocomplete="off">
    <p class="product-modal__title">Buy now</p>
    <div role="group" class="product-modal__gallary">
      <div class="product-modal__card cream">
        <div class="product-modal__bg ice-cream">
          <img
            class="product-modal__photo"
            srcset="
              ./images/Product-card/img1_132.jpg 1x,
              ./images/Product-card/img1_264.jpg 2x
            "
            src="./images/Product-card/img1_264.jpg"
            alt="ice cream"
            width="132"
            height="132"
          />
        </div>
        <input
          type="checkbox"
          class="product-modal_input visially-hidden"
          name="ice-cream"
          value="cream"
          id="cream"
        />
        <label class="product-modal__name" for="cream">ice cream </label>
      </div>

      <div class="product-modal__card coffee">
        <div class="product-modal__bg ice-coffee">
          <img
            class="product-modal__photo"
            srcset="
              ./images/Product-card/img2_132.jpg 1x,
              ./images/Product-card/img2_264.jpg 2x
            "
            src="./images/Product-card/img2_264.jpg"
            alt="ice coffee"
            width="132"
            height="132"
          />
        </div>
        <input
          type="checkbox"
          class="product-modal_input visially-hidden"
          name="ice-cream"
          value="coffee"
          id="coffee"
        />
        <label class="product-modal__name" for="coffee">ice coffee </label>
      </div>

      <div class="product-modal__card milkshake">
        <div class="product-modal__bg milk">
          <img
            class="product-modal__photo"
            srcset="
              ./images/Product-card/img3_132.jpg 1x,
              ./images/Product-card/img3_264.jpg 2x
            "
            src="./images/Product-card/img3_264.jpg"
            alt="milkshake"
            width="132"
            height="132"
          />
        </div>

        <input
          type="checkbox"
          class="product-modal_input visially-hidden"
          name="ice-cream"
          value="milkshake"
          id="milkshake"
        />
        <label class="product-modal__name" for="milkshake">milkshake </label>
      </div>
    </div>

    <div class="product-form__block">
      <input
        type="text"
        name="name"
        required
        minlength="3"
        id="name"
        class="product-form__input"
        placeholder="Name"
      />

      <input
        type="tel"
        name="tel"
        required
        pattern="[0-9]{2}-[0-9]{3}-[0-9]{7}"
        minlength="14"
        maxlength="14"
        title="Введіть номер телефону у форматі хх-ххх-ххххххх"
        id="tel"
        class="product-form__input"
        placeholder="Phone"
      />

      <textarea
        name="comment"
        id="comment"
        rows="8"
        placeholder="Comment"
        class="product-form__text"
      ></textarea>

      <button type="submit" class="btn btn--fill btn--modal">Submit</button>
    </div>
    <button type="button" class="product-modal__close" data-close-buy-in>
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </form>
</div>
